<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial=scale=1.0">
    <title> Create a New Quiz | Study.io</title>
  </head>
  <body>
      <div>
        <label for="term-select"> Select Terms to add to a Quiz</label>

        <select name="term" id="term-select">
          <% for(const term of terms) { %>

            <div class="term">
              <option value="<%= term %>"><%= term.question %></option>
            </div>
           <% } %>
        </select>
      </div>
  </body>
</html>
