<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial=scale=1.0">
    <title> All Quizzes | Study.io</title>
    <style>
      .quiz {
        background-color: aquamarine
      }
    </style>
  </head>
  <body>
    <% for (const quiz of quizzes) { %>

      <div class="quiz">
        <p class="setName"><%= quiz.setName %></p>

      </div>
      <% } %>
  </body>
</html>
