<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Quizzes | Study.io</title>
  </head>
  <body>
    <!-- Wrap in form, include button -->
    <div>
      <label for="quiz-select"> Select Your Quiz</label>

      <select name="quiz" id="quiz-select">
        <% for(const quiz of quizzes) { %>

          <div class="quiz">
            <option value="<%= quiz.quizId %>"><%= quiz.setName %></option>
          </div>
         <% } %>
      </select>
    </div>
  </body>
</html>
