<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Terms | Study.io</title>
  <style>
    .term {
      background-color: lightslategrey
    }
  </style>
</head>
<body>
  <% for(const term of terms) { %>

    <div class="term">
      <p class="question"><%= term.question %></p>

      <p class="answer"><%= term.answer %></p>
    </div>
   <% } %>

</body>
</html>
